fastapi
uvicorn
pydantic
aiohttp
langchain
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
pandas
python-dotenv
requests
tqdm
PyPDF2
pdfminer.six
folium
Pillow
beautifulsoup4
httpx
typing_extensions
browser-use
ipykernel
streamlit
rich
langchain_huggingface
langchain_community
youtube_transcript_api>=1.1.0
chromadb
pymupdf
pymupdf4llm
rank_bm25
langchain_experimental
einops
sentence-transformers